@model MVCLayer.Models.EditOperationViewModel

@{
    ViewBag.Title = "EditOperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditOperation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    if (Model.NotFound)
    {
        <h3>Operation not found</h3>
    }
    else
    {
        <div class="form-horizontal">
        <h4>EditOperationViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x=>x.ManagerId,Model.ManagerList)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.ClientId, Model.ClientList)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.ProductId, Model.ProductList)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost)
                @Html.ValidationMessageFor(model => model.Cost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model=>model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="text-box single-line" data-val="true" data-val-date="The field Date must be a date." id="@Model.Date" name="@Model.Date" type="date" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#Client").attr("Option")
    })
    clientId = Model.Id;
    document.getElementById('Client').options[clientId].selected = true;
</script>*@
