@model MVCLayer.Models.OperationsViewModel

@{
    ViewBag.Title = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<form method="get">
    <div class="form-inline">
        <label class="control-label">Manager:</label>
        @Html.DropDownList("manager", Model.Managers as SelectList, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Client: </label>
        @Html.DropDownList("client", Model.Clients as SelectList, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Product: </label>
        @Html.DropDownList("product", Model.Products as SelectList, htmlAttributes: new { @class = "form-control" })
        <p></p>
        @Html.TextBox("lowCost", Model.LowCost, htmlAttributes: new { @class = "form-control" })
        <label class="control-label"> to </label>
        @Html.TextBox("highCost", Model.HighCost, htmlAttributes: new { @class = "form-control" })
        <p></p>
        <input type="date" class="form-control" id="date" name="date" />
        <input type="submit" value="Filter" class="btn btn-default" />
        <input type="button" value="Skip filters" onchange="SkipFilters" class="btn-danger" />
        <script type="text/javascript">
            function SkipFilters() {
                //document.getElementById("p1").innerHTML = "Новый текст!";
                //document.getElementById("manager")[0].;
                var managerList = document.getElementById("manager");
                managerList.valueOf = 0;

                var clientList = document.getElementById("client");
                var productList = document.getElementById("product");
                var lCost = document.getElementById("lowCost").v;
                var hCost = document.getElementById("highCost");
                
            }
        </script>
    </div>
</form>

<table class="table">
    <tr>
        <th>Client</th>
        <th>Manager</th>
        <th>Product</th>
        <th>Date</th>
        <th>Cost</th>
        <th></th>
    </tr>

    @foreach (var item in Model.SomeOperations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            @if (ViewBag.IsAdmin)
            {
                <td>
                    @Html.ActionLink("Edit", "EditOperation", new { controller="Editsales",id = item.Id })
                </td>
            }
        </tr>
    }
</table>

<h4>
    <b>
        <i>@ViewBag.Message</i>
    </b>
</h4>

